{% extends "panel/base.html" %}
{% load static %}

{% block contenido %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Inicio</h1>

                <div class="centrado_inicio">
                    <br>
                    <img class="img-responsive center-block img_inicio" src="{% static 'img/logo.png' %}">
                    <br>                    
                    <h1 class="titulo_principal">Sistema Automatizado de Gestion de Bibliotecas<br><t class="azul_h1">(SAGBI)</t></h1>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock contenido %}