{% load static %}
<div class="modal-header">
    <h4 class="modal-title">Modificar Director</h4>
</div>
<div class="modal-body">
    <form role="form" id="form-director-modificar" >{% csrf_token %}

        <input name="director_id" id="director_id" type="hidden" value="{{ director.id }}">

        <div class="form-group row">
            <span class="col-xs-2 text-right fa fa-user-plus fa-3x"></span>
            <div class="col-xs-10">
                <input name="director_modificar" id="director_modificar" type="text" class="form-control input-lg" value="{{ director.nombre_director }}" maxlength="50" onkeypress="return permite(event, 'car')" required>
            </div>
        </div>

        <div class="form-group row">  
            <div class="col-xs-12">                      
                <button type="submit" class="btn btn-primary btn-md btn-block">Modificar</button>
                <a class="btn btn-info btn-md btn-block" href="/agregar-director/">Volver</a>
            </div>
        </div>
    </form>
</div>

<script language = javascript>
    $('#form-director-modificar').submit(function(){ 
        event.preventDefault();               
        modificar_director();
    });
</script>

<div class="modal-footer">
    <div id="resultado_invalido_plus"></div>
</div>