{% load static %}
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

            	<li>
                    
                </li>

                <li>
                    <a class="enlace_panel" href="/inicio"><i class="fa fa-home fa-fw"></i> Inicio</a>
                </li>

                <li>
                    <a class="enlace_panel" href="#"><i class="fa fa-film fa-fw"></i> Peliculas<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/agregar-pais">Agregar Pais</a>
                        </li>
                        <li>
                            <a href="/agregar-director">Agregar Director</a>
                        </li>
                        <li>
                            <a href="/agregar-pelicula">Agregar Pelicula</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a class="enlace_panel" href="#"><i class="fa fa-book fa-fw"></i> Libros<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/agregar-autor">Agregar Autor</a>
                        </li>
                        <li>
                            <a href="/agregar-libro">Agregar Libro</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a class="enlace_panel" href="/pre-registro"><i class="fa fa-users fa-fw"></i> Pre-registrar Usuarios</a>
                </li>

            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->