{% load static %}
<div class="modal-header">
    <h3 class="modal-title">{{ pelicula.titulo_original }}</h3>
</div>

<div class="modal-body modal-detalles">
    <div class="container">      
        <div class="row">
            <div class="col-md-3">
                {% if pelicula.pelicula_afiche %}
                    <img class="afiche afiche_detalles" src="/static/media/{{ pelicula.pelicula_afiche }}">
                    {% else %}
                    <img class="afiche afiche_detalles" src="{% static 'img/icono_pelicula.jpg' %}">
                {% endif %}
            </div>
            <div class="col-md-6">

                {% if pelicula.titulo_traducido %}
                    <p class="texto_medio"><b class="text_azul">Titulo Traducido:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{ pelicula.titulo_traducido }}</p>
                {% endif %}

                    <p class="texto_medio"><b class="text_azul">Año:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{ pelicula.anio }}</p>

                    <p class="texto_medio"><b class="text_azul">Duracion:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{ pelicula.duracion }}</p>

                    <p class="texto_medio"><b class="text_azul">Pais:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{ pelicula.pais }}</p>

                    <p class="texto_medio"><b class="text_azul">director:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{ pelicula.director }}</p>



                {% if pelicula.guion %}
                    <p class="texto_medio"><b class="text_azul">Guion:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{ pelicula.guion }}</p>
                {% endif %}

                {% if pelicula.fotografia %}
                    <p class="texto_medio"><b class="text_azul">Fotografia:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{ pelicula.fotografia }}</p>
                {% endif %}

                {% if pelicula.reparto %}
                    <p class="texto_medio"><b class="text_azul">Reparto:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{ pelicula.reparto }}</p>
                {% endif %}

                {% if pelicula.productora %}
                    <p class="texto_medio"><b class="text_azul">Productora:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{ pelicula.productora }}</p>
                {% endif %}

                {% if pelicula.sinopsis %}
                    <p class="texto_medio"><b class="text_azul">Sinopsis:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{ pelicula.sinopsis }}</p>
                {% endif %}

                {% if pelicula.criticas %}
                    <p class="texto_medio"><b class="text_azul">Criticas:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{ pelicula.criticas }}</p>
                {% endif %}

 
                <br> 
                <a type="button" class="btn btn-primary btn-md btn-block" href="/detalles-plus-pelicula/{{ pelicula.id }}/">Ver mas detalles</a>
                <a type="button" class="btn btn-info btn-md btn-block" href="/peliculas">Volver</a>
            </div>

        </div>
    </div>    
</div>